<div class="wrapper">
  <div class="nav">
    <div class="logo">
      <img src="img/terminal.png" alt="">
    </div>
    <div class="title">
      Web Terminal
    </div>
  </div>
  <div class="container">
    <div class="io-template">
      <div class="input-group">
        <input class="form-control" type="text" name="script" placeholder="~ Enter Command">
        <span class="input-group-btn">
          <button class="btn btn-default success" type="submit" onclick="onClickListen()">Submit</button>
        </span>
      </div>
      <div id="txtarea" class="row">
        <textarea disabled class="form-control" name="name" rows="8" cols="80">{{result}}</textarea>
      </div>
    </div>
  </div>
</div>
