* {
  margin: 0;
  padding: 0;

}

html {
  font-size: 10px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7rem auto;
  background: #eee;
}

.wrapper .nav {
  display: grid;
  grid-template-rows: 1fr 5rem 1fr;
  grid-template-columns: 1fr auto 2rem auto 1fr;
  background: #fff;
}

.wrapper .nav .logo {
  grid-column: 2;
  grid-row: 2;
}

.wrapper .nav .title {
  grid-column: 4;
  grid-row: 2;
  font-size: 4rem;
}

.wrapper .nav .logo img {
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
}

.io-template {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: .5rem;
  background-color: white;
}

.input-group {
  height: 3rem;
  display: grid;
  grid-template-columns: 10fr 1rem 1fr;
  margin-bottom: 2rem;
}

.input-group input {
  width: 100%;
  grid-column: 1;
  padding-left: 1rem;
}

.input-group span {
  grid-column: 3;
}

.input-group span button {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: white;
  background: blue;
}

textarea {
  width: 100%;
  padding: 1rem;
}
