<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Terminal</title>
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
    {{{body}}}
  </body>
  <script src="js/main.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  const socket = io();
  let onClickListen = () => {
    onClickListenHelper(socket);
  };
  socket.on('submitResponse', (script) => {
    console.log('Found in frontend');
    submitResHelper(script);
  });
  </script>
</html>
